
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">YOBÜ OTOPARK</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a href="/PARKBILGISI/Index/">PARK YERLERİ BİLGİSİ</a></li>
          <li><a href="/ARACGİRCIK/Index/">ARAÇ GİRİŞ/ÇIKIŞ ANA SAYFASI</a></li>
          <li><a href="/ÜCRET/Index/">OTOPARK GELİR BİLGİSİ</a></li>
          <li><a href="/MÜSTERI/Index/">MÜŞTERİ BİLGİLERİ</a></li>
          <li><a href="/PERSONEL/Index/">PERSONEL BİLGİLERİ</a></li>
          <li><a href="/GÜVENLİK/CIKISYAP/">ÇIKIŞ YAP</a></li>
      </ul>
  </div>
</nav>
  
<div class="container">
  @RenderBody() 
</div>

</body>
</html>

